.banner-wrapper {
  width: 100%;
  float: left;
  background-color: #009bff;
  padding: 100px 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff; }
  .banner-wrapper .btn {
    color: #fff; }
    .banner-wrapper .btn:hover {
      border-color: #fff; }

img {
  max-width: 100%; }

.website-price {
  font-size: 28px;
  font-weight: 500; }

.pt-7, .py-7 {
  padding-top: 7rem !important; }

.pb-7, .py-7 {
  padding-bottom: 7rem !important; }

.pt-6, .py-6 {
  padding-top: 6rem !important; }

.pb-6, .py-6 {
  padding-bottom: 6rem !important; }

.kt_footer-bottom {
  background: #e5f5ff; }

.whishlist-ribbon {
  position: absolute;
  right: -26px;
  top: -12px; }
  .whishlist-ribbon .kt-ribbon__target {
    background-color: #ffe9fd;
    color: #fd27eb;
    padding: 10px 15px; }
    .whishlist-ribbon .kt-ribbon__target:hover {
      cursor: pointer; }
      .whishlist-ribbon .kt-ribbon__target:hover > .kt-ribbon__inner {
        background-color: #fd27eb; }
      .whishlist-ribbon .kt-ribbon__target:hover i {
        color: #fff; }
  .whishlist-ribbon .kt-ribbon__target > .kt-ribbon__inner {
    background-color: #ffe9fd; }

.fixed-sidebar {
  width: 100%;
  height: 100%; }
  .fixed-sidebar section {
    position: -webkit-sticky;
    position: sticky;
    top: 85px; }

@media (max-width: 1024px) {
  .my-custom-style {
    padding: 0.5rem 0.25rem; }
    .my-custom-style .my-custom-element {
      margin-left: 0.5rem; } }

.blink {
  animation: blink 2s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite; }

@keyframes blink {
  to {
    visibility: hidden; } }

@-webkit-keyframes blink {
  to {
    visibility: hidden; } }
