.form-control {
  border-color: #e5f5ff; }

.card-title .kt-demo-icon__preview i {
  font-size: 1.5rem;
  color: gold; }

.card-title .kt-widget4 .kt-widget4__item .kt-widget4__info .kt-widget4__text {
  font-size: 0.9rem;
  font-weight: normal; }

.card-body .kt-portlet .kt-portlet__head {
  border-bottom: 1px solid #e5f5ff; }

.website-details-wrapper .kt-notification .kt-notification__item {
  padding: 1rem; }

.website-details-wrapper .kt-notification .kt-notification__item .kt-notification__item-details .kt-notification__item-time {
  color: #009bff;
  font-weight: 500; }

.website-details-wrapper .kt-notification .kt-notification__item:hover {
  background-color: transparent; }

.website-details-wrapper .kt-badge--unified-primary:hover {
  background: #009bff;
  color: #ffffff; }

.website-details-wrapper .kt-notification .kt-notification__item:after {
  content: none; }

.website-details-wrapper .kt-widget.kt-widget--user-profile-3 .kt-widget__bottom .kt-widget__item .kt-widget__details .kt-widget__value {
  color: #009bff;
  font-weight: 500; }

.website-details-wrapper .tab-content .kt-svg-icon {
  height: 33px;
  width: 33px; }

.website-details-wrapper .nav-tabs .kt-svg-icon {
  height: 23px;
  width: 23px; }

.website-details-wrapper .nav-tabs.nav-tabs-line.nav-tabs-line-primary.nav.nav-tabs .nav-link:hover, .nav-tabs.nav-tabs-line.nav-tabs-line-primary.nav.nav-tabs .nav-link.active, .nav-tabs.nav-tabs-line.nav-tabs-line-primary a.nav-link:hover, .nav-tabs.nav-tabs-line.nav-tabs-line-primary a.nav-link.active {
  border-top: 2px solid #009bff;
  border-radius: 0;
  margin-top: -2px; }

.website-details-wrapper .nav-tabs.nav-tabs-line .nav-item {
  margin-right: 40px; }

.website-details-wrapper .kt-widget4 .kt-widget4__item .kt-widget4__info {
  padding-right: 1rem; }

.website-details-wrapper .kt-widget17 {
  background: #ffffff; }

.website-details-wrapper .kt-widget17 .kt-widget17__stats .kt-widget17__items .kt-widget17__item .kt-widget17__icon svg {
  margin-left: -4px;
  width: 50px;
  height: 50px; }

.website-details-wrapper .kt-widget17 .kt-widget17__stats .kt-widget17__items .kt-widget17__item .kt-widget17__subtitle {
  color: #009bff; }

.website-details-wrapper .st0 {
  fill: #b3e1ff; }

.website-details-wrapper .st1 {
  fill: #009bff; }

.website-details-wrapper .kt-widget17 .kt-widget17__stats .kt-widget17__items .kt-widget17__item .kt-widget17__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.website-details-wrapper .kt-widget17 .kt-widget17__stats .kt-widget17__items .kt-widget17__item .kt-widget17__desc {
  font-weight: 500; }

.timeline-right-section {
  margin-right: 30px; }
  .timeline-right-section:before {
    right: 0;
    left: auto; }
  .timeline-right-section .kt-timeline-v2__item {
    width: 100%; }
  .timeline-right-section .kt-timeline-v2__items .kt-timeline-v2__item .kt-timeline-v2__item-cricle {
    right: -12px;
    left: auto;
    position: absolute; }
    .timeline-right-section .kt-timeline-v2__items .kt-timeline-v2__item .kt-timeline-v2__item-cricle > i {
      color: #009bff; }
  .timeline-right-section .kt-timeline-v2__items .kt-timeline-v2__item .kt-timeline-v2__item-text {
    padding: 0 2rem;
    text-align: right; }

.website-details-wrapper .modal-header {
  border-bottom: 1px solid rgba(0, 155, 255, 0.1); }

.website-details-wrapper .kt-grid-nav .kt-grid-nav__row .kt-grid-nav__item {
  border-right: 1px solid rgba(0, 155, 255, 0.1); }

.website-details-wrapper .kt-grid-nav .kt-grid-nav__row .kt-grid-nav__item:last-child {
  border-right: 0; }

.la-star {
  font-size: 1.5rem;
  color: gold; }

.website-details-wrapper .kt-widget.kt-widget--user-profile-3 .kt-widget__top.review-list {
  border-bottom: 1px solid #e5f5ff;
  padding: 1.5rem 0; }

.sticky-accordion {
  position: absolute;
  right: 0;
  top: 0; }

.kt-bg-facebook {
  background-color: #3b5998; }

.kt-bg-youtube {
  background-color: #FF0000; }

.kt-bg-whatsapp {
  background-color: #075e54; }

.kt-bg-twitter {
  background-color: #1DA1F2; }

.kt-bg-linkedin {
  background-color: #0e76a8; }

.website-details-wrapper .kt-grid-nav__item:active, .website-details-wrapper .kt-grid-nav__item:focus {
  background: #e5f5ff; }

@media (max-width: 1023px) {
  .sticky-accordion {
    position: relative;
    padding: 0;
    margin-bottom: 2rem; }
  .website-details-wrapper .kt-widget.kt-widget--user-profile-3 .kt-widget__top .kt-widget__content {
    padding-left: 0; } }
