/*
Theme Name: Avada Child
Description: Child theme for Avada theme
Author: ThemeFusion
Author URI: https://theme-fusion.com
Template: Avada
Version: 1.0.0
Text Domain:  Avada
*/

/*BLOG PAGE STYLE*/
#main{
	background: #f9f9fc !important;
	padding-top: 90px !important;
	padding-bottom: 78px !important;
}
#main .fusion-row {
    max-width: 1024px !important;
   
}
#main .flexslider .slides img {
	border-radius: 4px;
}

#main .post-detail{
	padding: 10px 10px 40px;
	margin-bottom: 78px;
    background: #fff;
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
}
#main .post-detail .author {
    position: relative;
    z-index: 9;
    padding: 0 20px;
    display: flex;
    align-items: center;
    margin-top: -60px;
    margin-bottom: 35px;
}
#main .post-detail .author img{
	width: 95px;
    height: 95px;
    border-radius: 190px;
    margin-right: 20px;
}
#main .post-detail .author p{
	font-size: 18px;
    margin: 20px 0 0 0;
}
#main .post-detail .author p a{
	color: #009bff;
}
#main .post-detail .post-content{
	padding: 0 20px;
}
#main .post-detail h1{
	font-size: 33.5px;
	font-weight: 500;
	margin-bottom: 6.5px;
	color: #595d6e;
	line-height: 1.2 !important;
}
#main .post-detail h2{
	font-size: 26px !important;
	line-height: 31.3px !important;
	margin: 30px 0px 15px;
	font-weight: 500 !important;
}
#main .post-detail .post-content p{
	line-height: 23px;
	margin: 15px 0 10px;
}
#main .post-detail .fusion-meta-info, 
#main .post-detail .fusion-sharing-box, 
#main .post-detail .comment-respond{
	display: none;
}
#main .post-detail .about-author {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    background: #fff;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 13px 0px rgba(82,63,105,0.05);
    -webkit-box-shadow: 0px 0px 13px 0px rgba(82,63,105,0.05);
}
#main .post-detail .about-author .fusion-title{
	order: 2;
}
#main .post-detail .about-author .avatar img{
	width: 95px;
    height: 95px;
    border-radius: 190px;
}
#main .recent-posts h3{
	font-size: 22.5px;
	font-weight: 500;
	line-height: 27.5px !important;
    margin-bottom: 25px;
    margin-left: 15px;
}
#main .recent-posts ul{
	display: flex;
    flex-wrap: nowrap;
    padding: 0 15px;
    margin: 0 -15px;
    flex: 0 0 100%;
}
#main .recent-posts .post-item{
	list-style: none;
    max-width: 33.3%;
    flex: 0 0 33.3%;
    padding: 0 15px;
    
}
#main .recent-posts .item-inner {
    padding: 10px;
    background: #fff;
    text-align: center;
}
#main .recent-posts .item-inner h4.post-title{
	font-size: 16px;
	line-height: 23.5px;
}
#main .recent-posts .item-inner a:hover .post-title{
	color: rgb(51,51,51) !important;
}

#main .recent-posts .item-inner h4.post-title:hover{
	color:#009bff; 
	transition: ease 0.3s;
}
/*FOOTER STYLE*/
.fusion-footer-widget-area{
	border-top: 0 !important;
}