/*
Theme Name: Avada Child
Description: Child theme for Avada theme
Author: ThemeFusion
Author URI: https://theme-fusion.com
Template: Avada
Version: 1.0.0
Text Domain:  Avada
*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif!important;
}
h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif!important;
}

/*BLOG PAGE STYLE*/
.single #main{
	background: #f9f9fc !important;
	padding-top: 90px !important;
	padding-bottom: 78px !important;
}
.single #main .fusion-row {
    max-width: 1024px !important;
   
}
.single #main .flexslider .slides img {
	border-radius: 4px;
}
.single #wrapper .avada-page-titlebar-wrapper{
    display: none;
}
.single #main .post-detail{
	padding: 10px 10px 40px;
	margin-bottom: 78px;
    background: #fff;
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
}
.single #main .post-detail .author {
    position: relative;
    z-index: 9;
    padding: 0 20px;
    display: flex;
    align-items: center;
    margin-top: -60px;
    margin-bottom: 35px;
}
.single #main .post-detail .author img{
	width: 95px;
    height: 95px;
    border-radius: 190px;
    margin-right: 20px;
}
.single #main .post-detail .author p{
	font-size: 18px;
    margin: 20px 0 0 0;
}
.single #main .post-detail .author p a{
	color: #009bff;
}
.single #main .post-detail .post-content{
	padding: 0 20px;
}
.single #main .post-detail h1{
	font-size: 33.5px;
	font-weight: 500;
	margin-bottom: 6.5px;
	color: #595d6e;
	line-height: 1.2 !important;
}
.single #main .post-detail h2{
	font-size: 26px !important;
	line-height: 31.3px !important;
	margin: 30px 0px 15px;
	font-weight: 500 !important;
}
.single #main .post-detail .post-content p{
    font-size: 15px;
	line-height: 23px;
	margin: 15px 0 10px;
    font-family: Poppins !important;
}
.single #main .post-detail .fusion-meta-info, 
.single #main .post-detail .fusion-sharing-box, 
.single #main .post-detail .comment-respond{
	display: none;
}
.single #main .post-detail .about-author {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 40px;
    background: #fff;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
    font-family: Poppins !important;
    box-shadow: 0px 0px 13px 0px rgba(82,63,105,0.05);
    -webkit-box-shadow: 0px 0px 13px 0px rgba(82,63,105,0.05);
}
.single #main .post-detail .about-author .title-heading-left {
    font-size: 22.5px !important;
    font-family: Poppins !important;
    font-weight: 500 !important;
}
.single #main .post-detail .about-author .fusion-title{
	order: 2;
    align-items: start;
}
.single #main .post-detail .about-author .avatar img{
	width: 95px;
    height: 95px;
    border-radius: 190px;
}
.single #main .recent-posts h3{
	font-size: 22.5px;
	font-weight: 500;
	line-height: 27.5px !important;
    margin-bottom: 25px;
    margin-left: 15px;
}
.single #main .recent-posts ul{
	display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    margin: 0 -15px;
    flex: 0 0 100%;
}
.single #main .recent-posts .post-item{
	list-style: none;
    max-width: 33.3%;
    flex: 0 0 33.3%;
    padding: 0 15px 30px;
    
}
.single #main .recent-posts .item-inner {
    padding: 15px;
    margin-bottom: 20px;
    background: #fff;
    text-align: center;
}
.single #main .recent-posts .item-inner h4.post-title {
    font-size: 16px;
    line-height: 23.5px;
    color: #595d6e;
    margin: 0;
    padding: 15px 0 40px;
}
/*#main .recent-posts a:hover .post-title{
	color: rgb(51,51,51) !important;
}
*/
.single #main .recent-posts .item-inner h4.post-title:hover{
	color:#009bff; 
}
.single #main .post-detail .about-author .description {
    position: absolute;
    width: 80%;
    top: 75px;
    left: 160px;
    font-size: 13px;
}
/*FOOTER STYLE*/
.fusion-footer-widget-area{
	border-top: 0 !important;
}


/*BLOG LISTING*/
p{
    font-size: 15px;
	line-height: 23px;
    font-family: Poppins !important;
}
.blog-listing-anchor a {
    font-weight: 500;
    font-size: 19px;
    color: #343a40 !important;
}
 .blog-listing-anchor a:hover {
    color: #009bff!important;
}
.blog-listing-sec .blog-listing-anchor .admin-date-detail
{
	display:none;
}
.blog-listing-sec .blog-listing-anchor .fusion-content-sep
{
	display:none;
}
.blog-listing-sec .blog-listing-anchor .fusion-meta-info
{
	display:none;
}
.blog-listing-sec .blog-listing-anchor .fusion-post-content-container {
    margin-top: 10px;
}
.blog-listing-sec .blog-listing-anchor .fusion-post-content-container p {
    font-size: 14px;
}
.blog-listing-sec .blog-listing-anchor .fusion-image-wrapper .fusion-rollover {
    background-image: none;
}
.blog-listing-sec .blog-listing-anchor .fusion-rollover-content {
    display: none;
}
.blog-side-bar .heading h4 {
    color: #fff!important;
    padding: 15px;
    margin: 0px;
    font-size: 1.5rem!important;
    font-weight: 500!important;
    background: #009bff !important;
	    border-radius: 5px 5px 0px 0px;
}

body.has-sidebar #main .blog-side-bar {
    width: 28%!important;
}
#main{
	background:#f9f9fc!important;
}
.blog-side-bar #recent-posts-2 ul {
    list-style-type: none;
    padding: 15px;
}
.blog-side-bar #recent-posts-2 ul li {
    border-bottom: 1px solid #dee2e6 !important;
    margin-bottom: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
.blog-side-bar #recent-posts-2 ul li a:hover{
    color:#009bff;
}
.blog-side-bar #recent-posts-2{
    background: #fff;
}

.blog-side-bar #custom_html-3 .textwidget.custom-html-widget {
    text-align: center;
    background: #fff;
    padding: 30px 10px;
}
.blog-side-bar .subscribe-blog-form h3{
    font-size: 23px;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}
.subscribe-blog-form-p {
    font-size: 14px!important;
    padding: 0px!important;
    margin: 10px 0px 20px 0px!important;
    color: #415563!important;
}
.blog-side-bar .subscribe-blog-form .wpcf7-list-item-label {
    color: #009bff;
}
.blog-side-bar #custom_html-3 .wpcf7-form span.wpcf7-form-control-wrap.your-name:before
{
	content: "\f007";
    width: 20px;
    height: 20px;
    font-family: "Font Awesome 5 Free";
    color: #009bff;
    position: absolute;
    left: 0;
    font-size: 1rem;
    z-index: 9;
    background-color: #d5efff;
    border: 1px solid #e5f5ff;
    padding: 0.55rem 1rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-weight: bolder;
}
.blog-side-bar #custom_html-3 .wpcf7-form span.wpcf7-form-control-wrap.your-email:before
{
	content: "\f0e0";
    width: 20px;
    height: 20px;
    font-family: "Font Awesome 5 Free";
    color: #009bff;
    position: absolute;
    left: 0;
    font-size: 1rem;
    z-index: 9;
    background-color: #d5efff;
    border: 1px solid #e5f5ff;
    padding: 0.55rem 1rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-weight: bolder;
}
.blog-side-bar #custom_html-3 input {
    padding-top: 0;
    padding-bottom: 0;
    height: 40px;
    background-color: #ffffff;
    font-size: 14px;
    color: #4d5863;
    border-width: 1px;
    border: 1px solid #e5f5ff;
    border-radius: 0px;
    padding: .65rem 4rem;
}	
.blog-side-bar .subscribe-blog-form p {
    font-size: 14px;
    padding: 0px;
    margin: 10px;
    color: #009bff;
}
.blog-side-bar #custom_html-3 input.wpcf7-form-control.wpcf7-submit {
padding-top: 0;
    padding-bottom: 0;
    background-color: #ffffff;
    border-width: 1px;
    background: rgba(0,155,255,0.1);
    width: 100%;
    height: 45px;
    border: 0;
    padding: 0 20px;
    font-size: 15px;
    border-radius: 4px;
    color: #009bff;
    font-weight: 500;
}
.blog-side-bar #custom_html-3 input.wpcf7-form-control.wpcf7-submit:hover {
    background-color: #009bff;
	color:#fff;
}
/* .subscribe-blog-form:after
{ 
	-webkit-animation: wave 15s infinite linear;
    animation: wave 15s infinite linear;
    background-color: white;
	content: ' ';
    width: 1000px;
    height: 1025px;
    position: absolute;
    bottom: 65%;
    left: -250px;
    border-radius: 35%;
    background: white;
    z-index: 0;
} */

.blog-side-bar .wd_blog_download_book_title h2{
    color: #595d6e;
    padding: 50px 0px;
    font-weight: 500!important;
}
.blog-side-bar .textwidget.custom-html-widget {
    text-align: center;
	margin:20px 0px;
}
.blog-side-bar .kt-portlet {
    background: #e0f0fc;
	padding: 20px;
}
.load-m {
    width: 30%;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(0,155,255,0.1);
    color: #009bff;
}

.load-m:hover {
    background-color: #009bff;
    color: #fff;
}









/*RESPONSIVE STYLE*/
@media(max-width: 767px){
    .single #main .post-detail .author {
        margin-top: 0;
    }
    .single #main .post-detail h1{
        font-size: 24px !important;
    }
    .single #main .recent-posts .post-item{
        max-width: 100%;
        flex: 0 0 100%;
    }
	body.has-sidebar #main .blog-side-bar {
    width: 100%!important;
    margin-top: 0px;
}

}
@media(min-width: 768px) and (max-width: 991px){
    .single #main .recent-posts .post-item{
        max-width: 50%;
        flex: 0 0 50%;
    }
    
}